<% include partials/header %>
<div class="containter">
	<header class="jumbotron">
		<h1>Welcome to YelpCamp</h1>
		<p>View our hand-picked campgrounds from all over the world</p>
	</header>

	<a href="/campgrounds/new">Add new Campground</a>

	<% campgrounds.forEach(function(campground) { %>
		<div>
			<h4><%=campground.name %></h4>
			<img src="<%= campground.image %>">
		</div>
	<% }) %>
</div>
<% include partials/footer %>