<% include partials/header %>
<div class="container">
		<h1>Create a new campground</h1>
		<form action="/campgrounds" method="POST">
			<input class="form-control" type="text" name="name" placeholder="name">
			<input class="form-control" type="text" name="image" placeholder="image url">
			<button class="btn btn-large btn-default">Submit</button>
		</form>

		<a href="/campgrounds">Go Back</a>	
	
</div>

<% include partials/footer %>
